*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60;
    background-color: #0f1111;
    color: white;
}

.nav-logo{
    height: 50;
    width: 100;
}

.logo{
    background-image: url(amazon_logo.png);
    height: 50;
    width: 100;
}